.landingPageImage{
  position: absolute;
  width:100vw;

}
.passwordInput{

width:100%;
display: flex;
justify-content: space-between;
align-items: center;
 background: rgba(0, 0, 0, 0.659);
 border-radius:5px;
}
.passwordInput svg{
  padding-right:10px;
  color:#dfd
}
.passwordInput input{
  flex-grow:1;
  background-color: transparent;
}