
.row{
  gap: 0.4rem;
  display: flex;
}
.editProfileBox{
  display: flex;
  min-width: 50%;
}
.avatars{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}
.profileHeader{
  text-align: left;
  padding:0 1rem;


}
.nameandfollow{
  display: flex;
  align-items: center;
  justify-content: space-between;
margin-top: -2.5rem;
}

label{
  text-align: left;
}
.labelForNames{
  display:flex;
  flex-direction: column;
 
  width: 50%;
}
.nameInputforEdit{
  gap:0.2rem;
  display: flex;
}
.logout svg:hover{
  color: red;
  cursor: pointer;
}
.bgpic{
  height: 12rem;
  object-fit: cover;
}
.profilePic{
  height: 6.5rem;
  width: 6.5rem;
  object-fit: cover;
  margin-top:-15%;
  margin-left: 40%;
  border-radius: 6px;
  outline: 10px double var(--text-color-secondary) ;
  border:5px solid var(--primary-color)
}

.userName h3{
  margin: 0;
}
.smallUserName{
  margin:0.1rem;
  
    font-size: 0.8rem;
    color: var(--tertiary-color);
  
}
.followCounts{
  display: flex;
  gap: 1rem;
}
.profileWebsite{
  gap:10px
}
.profileWebsite svg{
transform: rotate(135deg);
font-size: 0.8rem;
margin-right: 5px;
}
div.avatars  div.row0 label img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  }
@media (max-width:768px){
  .editProfileBox{
    display: flex;
    flex-direction: column;
  }
.outer{
  position:relative;
}
}
