@media (max-width:768px) {
  body{
    overflow-y: none;
    height: 100vh;
  }
  .homePage{
    display: flex;
   flex-direction: column-reverse;
  }
  .tweetsSection{
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
  }
  .tweetCard{
    min-width: 250px;
    margin: auto;
  }
  .rightSideBar{
    display: none;
  }
  .leftSideBar{
    position: fixed;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    top:94vh;
    gap: 0;
    height: 100vh;
    width: 100%;
    padding:0.2rem;
  }
  .rightSideBar .suggestedProfile, .leftSideBar .suggestedProfile{
    display: none;
  }
  .leftSideBar .leftUpper{
    
    display: flex;
    flex-direction: row;
  }
  .footer{
  display: none;
 }
}