.App {
  text-align: center;
  font-family:cursive;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: center;
  margin:auto;
  gap:5px;
}
form input{
height: 1.5rem;
border-radius: 5px;
border-color: green;
text-align: center;
}
button{
  border:none;
  background-color: #777777;
  padding: 0.5rem;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background:rgb(6, 138, 6)
}