:root{
  --primary-color:#391E22;
  --secondary-color:#56373C;
  --tertiary-color:#9F807D;
  --text-color-secondary:#D0B0B1;
  --text-color:#E6D1D8;
}
::selection{
  background-color: #D0B0B1;
  color:#391E22;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  color:var(--text-color);
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
